@import "base.css";
@import "footer.css";
@import "newsletter.css";

/* Map div on right */
#map {
    height: 500px;
}

/* Parkings div on left */
#parkings {
    overflow: auto;
    height: 500px;
}

#update {
    padding-left: 10px;
}

.parking {
    height: auto;
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 5px;
    margin-bottom: 9px;
    box-shadow: 5px 5px 5px -5px #333;
}

h2 {
    font-family : Montserrat, sans-serif;
    color : #3ebb9f;
    font-size : 26px;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-family : Montserrat, sans-serif;
    color : #333333;
    font-size : 16px;
    font-weight: bold;
    text-align: center;
}

p {
    margin-top: 10px;
    color : #616161;
    font-size : 16px;
}

.card {
    border: 0;
}